/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 oct. 2016, 17:54:28
    Author     : Arezki
*/

body {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}